<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Saxons -- Best tool to learn a new language{% end %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- Modernizr -->
  <script src="static/groundworkcss/js/libs/modernizr-2.6.2.min.js"></script>
  <!-- framework css -->
  <!--[if gt IE 9]><!-->
  <link type="text/css" rel="stylesheet" href="static/groundworkcss/css/groundwork.css">
  <!--<![endif]-->
  <!--[if lte IE 9]>
        <link type="text/css" rel="stylesheet" href="static/groundworkcss/css/groundwork-core.css">
        <link type="text/css" rel="stylesheet" href="static/groundworkcss/css/groundwork-type.css">
        <link type="text/css" rel="stylesheet" href="static/groundworkcss/css/groundwork-ui.css">
        <link type="text/css" rel="stylesheet" href="static/groundworkcss/css/groundwork-anim.css">
        <link type="text/css" rel="stylesheet" href="static/groundworkcss/css/groundwork-ie.css">
        <![endif]-->
  <link type="text/css" rel="stylesheet" href="static/css/homepage.css" />
  <link rel="icon" href="static/src/favicon.jpg">

</head>

<body>
  <header class="padded">
    <div class="container">
      <div clas="row">
        <div class="one half">
          <img src="static/src/saxons-logo.png">
        </div>
        <div class="one half">
          <div class="login">
            <span><a href="/login">Sign in</a></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% block content %} {% end %}

  <footer class="charcoal box small">
    <div class="wrapper container double-pad-top">
      <div class="row">
        <div class="two fourths contact align-left">
          <h2 class="quicksand">Contact us</h2>
          <h3 class="quicksand">Email: creative-kit@googlegroups.com</h3>
          <h3 class="quicksand">Phone: XXXXGAY</h3>
        </div>
        <div class="one fourth skip-one">
          <h3 class="quicksand">Copyright by some people</h3>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="static/groundworkcss/js/libs/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="static/groundworkcss/js/groundwork.all.js"></script>
  {% block script %}{% end %}
</body>

</html>
