{% extends "base.html"}

{% block content %}
<header class="padded">
  <div class="container">
    <div clas="row">
      <div class="one half">
        <img src="src/saxons-logo.png">
      </div>
      <div class="one half">
        <div class="row login">
          <span>Sign in</span>
          <span>Register</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="box blue homepage-register">
  <div class="box green wrapper">
    <div class="row">
      <h1>Best tool to help you learn languages.</h1>
      <h3>Just create an account and try it. <span>Learn more</span></h3>
    </div>

    <div class="box">
      <form>
        <div class="row">
          <div class="two fifths padded">
            <input id="name" type="text" placeholder="User ID">
          </div>
          <div class="two fifths padded">
            <input id="password" type="password" placeholder="Password">
          </div>
          <div class="one fifth padded">
            <button class="turquoise">Register</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="asphalt-bg homepage-intro">
  <div class="wrapper">

    <div class="row">
      <div class="three elevenths turquoise box">
        <i class="icon-font icon-5x"></i>
        <h2>Help you to </h2>
        <p class="turquoise-bg">
          There are many language
        </p>
      </div>

      <div class="one eleventh">
        <i class="icon-circle-arrow-right icon-5x"></i>
      </div>

      <div class="three elevenths blue box">
        <i class="icon-lightbulb icon-5x"></i>
        <h2>Have a test</h2>
        <p class="blue-bg">Have a lot of test</p>
      </div>

      <div class="one eleventh">
        <i class="icon-circle-arrow-right icon-5x"></i>
      </div>

      <div class="three elevenths green box">
        <i class="icon-rocket icon-5x"></i>
        <h2>Have a test</h2>
        <p>Have a lot of test</p>
      </div>
    </div>

  </div>
</div>
<div class="homepage-lang-support info box">
  <div class="wrapper">
    <h1>We support many languages.</h1>
    <table class="responsive" data-max="15">
      <tbody>
        <tr>
          <td>
            <img src="./src/Flag_of_Republic_of_China.jpg">
          </td>
          <td>
            <img src="./src/Flag_of_Japan.jpg">
          </td>
          <td>
            <img src="./src/Flag_of_Germany.jpg">
          </td>
          <td>
            <img src="./src/Flag_of_South_Korea.jpg">
          </td>
        </tr>
        <tr>
          <td>
            <img src="./src/Flag_of_the_United_States.jpg">
          </td>
          <td>
            <img src="./src/Flag_of_the_United_Kingdom.jpg">
          </td>
          <td>
            <img src="./src/Flag_of_France.jpg">
          </td>
          <td>
            <img src="./src/Flag_of_the_People's_Republic_of_China.jpg">
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="medium" colspan="4">More language will be added continuously.</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

{% end %}
