{% extends "base.html" %}

{% block content %}
<header class="padded">
  <div class="container">
    <div clas="row">
      <div class="one half">
        <img src="src/saxons-logo.png">
      </div>
      <div class="one half">
        <div class="row login">
          <span>Sign in</span>
          <span>Register</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="info box">
  <div class="container padded">
    <div class="row">

      <div class="one fifth padded">
        <nav class="nav vertical turquoise">
          <ul role="menu" aria-expanded="false">
            <li>
              <button>My Language Packs</button>
            </li>
            <li>
              <button>Settings</button>
            </li>
          </ul>
        </nav>
      </div>

      <div class="four fifths padded">
        <div class="row">
          <nav class="nav asphalt">
            <ul>
              <li>
                <button>Home</button>
              </li>
              <li>
                <button>My Language Packs</button>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
{% end %}
